body{
    /* font-family: 'VT323', monospace; */
    font-family: 'Dokdo', cursive;
    background-image: linear-gradient(to right, black, white 18%, white 83%, black);
}

.a-container{
    width: 65%;
    margin: 0 auto;
    background-color: white;
}

.the-header{
    text-align: center;
    margin: 50px;
}

.the-flexible-nav{
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 65%;
    margin: 0 auto;
    font-size: 25px;
}

.bouncy{
    transition: all 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.bouncy:hover{
    transition: all 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    font-size: 4vw;
}

.a-flexible-item{
    flex: 1;
}

.a-flexible-item:hover{
    flex: 6;
}

.a-flexible-item a{
    display: block;
    height: 100%;
}

.a-flexible-item:first-of-type:hover{
    transform: translateX(-5vw);
}

.about-link:hover{
    transform: translateX(5vw);
}

a {
    text-decoration: none;
    color: black;
}

.flexible-game-display-grid{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.game-display{
    flex: 1;
    margin: 5px;
}

.flexible-image{
    max-width: 100%;
}

.hacky-fix{
    padding-bottom: 70px;
}